<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tacoma.uw.dawggit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dawggit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dawggit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forum.SearchReviewActivity"></activity>
        <activity android:name=".listings.ItemListingDetail" />
        <activity android:name=".listings.ItemListingAddActivity" />
        <activity android:name=".review.ReviewsContent" />
        <activity android:name=".course.CourseAddActivity" />
        <activity android:name=".comment.CommentsContent" />
        <activity android:name=".course.CourseDisplayActivity" />
        <activity android:name=".course.searchCourseActivity" />
        <activity android:name=".comment.CommentAddActivity" />
        <activity android:name=".review.ReviewAddActivity" />
        <activity android:name=".main.HomeActivity" />
        <activity android:name=".forum.ForumDisplayActivity" />
        <activity android:name=".forum.ForumAddActivity" />
        <activity android:name=".authenticate.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>